/* Title code from https://codepen.io/comehope/pen/GdrrZq */
html {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #b3cdd1;
	background-image: linear-gradient(315deg, #b3cdd1 0%, #9fa4c4 74%);
}

body {
	margin: 0;
	align-items: center;
	justify-content: center;
}

body p {
    color: #40817a;
    font-size: 18pt;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    
}

.box {
	display: flex;
	width: 100%;
}

.box .inner {
	width: 400px;
	height: 200px;
	line-height: 200px;
	font-size: 4em;
	font-family: sans-serif;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
}

.box .inner:first-child {
	background-color: #40817a;
	color: #003b32;
	transform-origin: right;
	transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
	background-color: #7cbdc9;
	color: rgb(205, 229, 236);
	transform-origin: left;
	transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
	position: absolute;
	animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
	animation-delay: 2.5s;
	left: -100%;
}

@keyframes marquee {
	from {
		left: 100%;
	}

	to {
		left: -100%;
	}
}

.formContainer {
	display: grid;
	justify-content: center;
	align-items: center;
}

.primaryAndSecondary {
	display: flex;
	margin-left: -2%;
	margin-right: -2%;
	
}

.primaryOptions {
	width: 50%;
	margin: 2%;
}

.secondaryOptions {
	width: 50%;
	margin: 2%;
}

.btnDiv{
	display: block;
}
.searchButton {
	background-color: #f2dcc5;
}

/* .hide {
	display: none;
} */

.box {
	animation-duration: 2s;
	animation-name: slidein;
	animation-fill-mode: forwards;
	/* animation-delay: 1.5s; */

  }

div {
	 display: block;
	 justify-content: center;
	 align-items: center;
 } 
 
#container {
	margin: 2px;
	background: none;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	justify-content: center;
	align-items: center;
}


 .containerDiv {
	  display: inline-block;
  }
  
  @keyframes slidein {
	from {
		transform: translateY(150%);
		opacity: 0;
	}
  
	to {
		transform: translateY(20%);
		opacity: 1;
  	}
  }
/* #title {
	display: flex;
} */

/* button styling */

button {
	display: flex;
	border: none;
	background: none;
	width: 7vh;
	height: 5vh;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background: none;
	width: auto;
	height: auto;
	margin: 0;
	flex: 1;
	flex-basis: 50%;
}

.G {
	background-image: url("./Images/g-Rating.png");

}

.PG{
	background-image: url("./Images/pg-Rating.png");
}

.PG-13 {
	background-image: url("./Images/pg13-rating.png");
}

.R{
	background-image: url("./Images/r-Rating.png");
}

.NC-17 {
	background-image: url("./Images/nc17-Rating.png");
}

.sub-container {
	margin: 3vh;
	background: none;
	display: flex;
	flex-flow: row wrap;
	position: relative;
	justify-content: center;
	align-items: center;
}

.item {
	margin: 3px;
	padding: 3px;
	height: 10vh;
	width: 15vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.item2 {
	margin: 3px;
	padding: 3px;
	height: 10vh;
	width: 20vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.hide {
	display: none;
}
